API_HOST_PORT=19000
INFLUXDB_HOST_PORT=19086
GEIGER_SERIAL_PORT=/dev/ttyACM0
GEIGER_SERIAL_BAUD=115200
MAX_POOL_BYTES=1048576
POOL_LOW_WATERMARK_BYTES=1024
RANDOM_RATE_LIMIT_PER_MINUTE=120
INGEST_TOKEN=change-this-ingest-token

INFLUXDB_INIT_USERNAME=nuclear
INFLUXDB_INIT_PASSWORD=change-this-password
INFLUXDB_INIT_ORG=nuclear-random
INFLUXDB_INIT_BUCKET=entropy
INFLUXDB_INIT_ADMIN_TOKEN=change-this-token
